Repository Sector-Crescent/Hullrot, pull requests merged in 2025-09, with the labels that each got.

#608 Exhumer MKII - An Industrial/Combat ship, capable of both, not good at either.
  Resources/Maps/_Crescent/Shuttles/Civilian/exhumermk2.yml
  Resources/Prototypes/_Crescent/Maps/Ships/Civilian/exhumermk2.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard.yml
Labels: Status: Needs Review

#621 Trashcan - a artillery-carrier available in the scrapyard.
  Resources/Maps/_Crescent/Shuttles/Civilian/hive.yml
  Resources/Maps/_Crescent/Shuttles/Civilian/wasp.yml
  Resources/Prototypes/_Crescent/Entities/Structures/mothership_consoles.yml
  Resources/Prototypes/_Crescent/Maps/Ships/Civilian/hive.yml
  Resources/Prototypes/_Crescent/Maps/Ships/Civilian/wasp.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard.yml
Labels: Status: Needs Review

#695 Add the Lockjaw (Donator Ship)
  Resources/Maps/_Crescent/Shuttles/NCSP/lockjaw.yml
  Resources/Prototypes/_Crescent/Entities/Objects/Misc/shiplpcs.yml
  Resources/Prototypes/_Crescent/Maps/Ships/NCSP/lockjaw.yml
Labels: Status: Needs Review, Mapping

#686 Update hayes.yml
  Resources/Maps/_Crescent/Stations/hayes.yml
Labels: Status: Needs Review, Mapping

#688 SHI Naazar and Probe fix
  Resources/Maps/_Crescent/Shuttles/SHI/nazaar.yml
  Resources/Maps/_Crescent/Shuttles/SHI/probe.yml
Labels: Status: Needs Review, Mapping

#671 make gun bullets 50% faster
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
Labels: C#

#691 Tatsumoto de-xlinkification + Countsman de-dottofication
  Resources/Maps/_Crescent/Stations/countsman.yml
  Resources/Maps/_Crescent/Stations/tatsumoto.yml
Labels: Status: Needs Review, Mapping

#660 NCSP Spriggan - a T0 hybrid smuggling/salvage ship for the CDT
  Resources/Maps/_Crescent/Shuttles/NCSP/spriggan.yml
  Resources/Prototypes/_Crescent/Entities/Structures/mothership_consoles.yml
  Resources/Prototypes/_Crescent/Maps/Ships/NCSP/spriggan.yml
Labels: Status: Needs Review, Mapping

#661 Slug - a scrapyard salvager, made from a derelict cargo hauler.
  Resources/Maps/_Crescent/Shuttles/Civilian/slug.yml
  Resources/Prototypes/_Crescent/Maps/Ships/Civilian/slug.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard.yml
Labels: Status: Needs Review, Mapping

#740 idna buff
  Resources/Prototypes/_Crescent/Entities/Shipguns/Bullets/projectiles.yml
Labels: Status: Needs Review, YAML
